@import '../../styles/celula';

.ce-pagination {
  background-color: @white;
  display: flex;
  justify-content: center;

  .ce-pagination__container {
    align-items: center;
    border-radius: 3.3rem;
    box-shadow: -0.4rem 0.4rem 1.5rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 1rem 4.8rem;

    li {
      button {
        background-color: transparent;
        border: none;
        border-radius: 5rem;
        cursor: pointer;
        height: 3rem;
        margin: 0 0.5rem;
        outline: none;
        width: 3rem;

        span {
          height: 1.6rem;
        }

        &:hover {
          box-shadow: 0 0 0 .5rem @hover-blue;
        }

        &:active {
          box-shadow: 0 0 0 .5rem @active-blue;
        }

        &:focus {
          box-shadow: 0 0 0 .5rem @focus-blue;
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
    }

    .ce-pagination__arrow {
      &:first-of-type {
        margin-top: -0.4rem;
        margin-right: 1.3rem;

        button {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      &:last-of-type {
        margin-top: 0.4rem;
        margin-left: 1.3rem;
      }
    }
  }

  .ce-pagination__number {
    button {
      font-size: 1.6rem;
      font-weight: bold;
    }

    &.current-page {
      button {
        background: @pagination-highlighted;
        color: @white;

        &:hover {
          background: @primary-hover;
          box-shadow: none;
        }

        &:active {
          background: @primary-active;
          box-shadow: none;
        }

        &:focus {
          box-shadow: 0 0 0 .5rem @button-focus;
        }
      }
    }
  }
}
