@import '../../../styles/celula';

.ce-radio {
  padding: 0.5rem 0 0.7rem 1.8rem;

  fieldset {
    border: none;
    width: 22.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }

  legend {
    padding: 3rem 0 2rem 0.6rem;
  }

  label {
    padding-left: 2rem;
    font-size: 1.4rem;
  }

  input {
    opacity: 0;
  }

  .ce-radio--button {
    margin: 0.5rem;
    position: relative;
    cursor: pointer;
    user-select: none;

    // default radio label sizes (unchecked and default grey color)
    label {
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -0.1rem;
        top: -0.1rem;
        border-radius: 50%;
        border: 0.1rem solid #b2b2b2;
        width: 2.1rem;
        height: 2.1rem;
        background-color: #fbfbfb;
      }

      &:hover {
        &::before {
          content: '';
          display: inline-block;
          height: 2.6rem;
          width: 2.6rem;
          margin-left: -0.3rem;
          left: -0.5rem;
          top: -0.7rem;
        }
      }
      &:focus {
        &::before {
          height: 2.6rem;
          width: 2.6rem;
          position: absolute;
          margin-left: -0.3rem;
          left: -0.5rem;
          top: -0.7rem;
          border-radius: 50%;
        }
      }
    }

    // not checked (color change only)
    input:not(:checked) + label {
      // not checked and hover
      &:hover {
        &::before {
          border: 0.5rem solid #e5e5e5;
        }
      }

      // not checked and focus (color change only)
      &:focus {
        &::before {
          border: 0.5rem solid #cccccc;
          background-color: #232020;
        }
      }

      // not checked and active (color change only)
      &:active {
        &::before {
          background-color: #fbfbfb;
          border: 0.5rem solid #b3b3b3;
        }
      }
    }

    // checked and not hover (color change only)
    input:checked + label {
      &::before {
        border: 0.1rem solid #192344;
        background: transparent;
      }

      // setting 'after' defaults here because 'after' cannot exist in the default unchecked (or it will override the custom input unchecked)
      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0rem;
        top: 0rem;
        border-radius: 50%;
        width: 1.1rem;
        height: 1.1rem;
        background-color: #192344;
        border: 0.5rem solid #ffffff;
      }

      // checked and hover (color change only)
      &:hover {
        &::before {
          border: 0.5rem solid #e6f7ff;
        }

        &::after {
          background-color: #192344;
          border: 0.5rem solid #ffffff;
        }
      }

      //checked and focus (color change only)
      &:focus {
        &::before {
          border: 0.5rem solid #ccefff;
        }

        &::after {
          background-color: #192344;
          border: 0.5rem solid #ffffff;
        }
      }

      //checked and active (color change only)
      &:active {
        &::before {
          border: 0.5rem solid #b2e7ff;
        }

        &::after {
          background-color: #192344;
          border: 0.5rem solid #ffffff;
        }
      }
    }
  }
  &.ce-radio--disabled {
    pointer-events: none;
    color: #aeaeae;

    // checked and disabled (only need to alter checked because unchecked falls into default setting above)
    input:checked + label {
      &::before {
        border: 0.1rem solid #aeaeae;
      }

      &::after {
        background-color: #aeaeae;
        border: 0.5rem solid #ffffff;
      }
    }
  }
}

.ce-radio--error {
  // error mode not checked
  border: 0.5rem solid @error-text;
  border-radius: 0.5rem;
  color: @error-text;
  label {
    margin-top: 5rem;
  }
  .ce-radio--button {
    // error mode checked
    input:checked + label {
      &::before {
        border: 0.1rem solid @error-text;
        background: transparent;
      }

      &::after {
        background-color: @error-text;
        border: 0.5rem solid #ffffff;
      }

      // checked error and hover (color change only)
      &:hover {
        &::before {
          border: 0.5rem solid #ffe5ed;
        }

        &::after {
          background-color: @error-text;
          border: 0.5rem solid #ffffff;
        }
      }

      //checked error and focus (color change only)
      &:focus {
        &::before {
          border: 0.5rem solid #ffccdc;
        }

        &::after {
          background-color: @error-text;
          border: 0.5rem solid #ffffff;
        }
      }

      //checked error and active (color change only)
      &:active {
        &::before {
          border: 0.5rem solid #ffb3cc;
        }

        &::after {
          background-color: @error-text;
          border: 0.5rem solid #ffffff;
        }
      }
    }
  }

  // this error text handles when I want it shown inside the radio--error
  .ce-radio-error--text {
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    line-height: 1.2rem;
    margin-left: 77%;
    bottom: -4%;

    @media screen {
      @media (max-width: 768px) {
        margin-left: 50%;
      }
    }
  }
}
