@import '../../../styles/celula';

.ce-select {
  // should remove the default arrows from most browsers here but currentlty isn't touching
  select {
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    display: block;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 32.4rem;
    box-sizing: border-box;
    background-color: #fbfbfb;
    border: none;
    // &:hover ~ .ce-select--background-state {
    //   border: 3px solid black;
    // }
    &:focus ~ .ce-select--background-state {
      // border: 3px solid #ccefff;
      border: 3px solid pink;
    }
    &:active ~ .ce-select--background-state {
      // border: 3px solid #b2e7ff;
      border: 3px solid @purple;
    }
  }

  select:focus {
    outline: none;
  }

  // removes the arrow from the IE
  select::ms-expand {
    display: none;
  }

  // .ce-select--wrapper {
  //   height: 125px;
  //   width: 380px;
  //   // background-color: @blue;
  // }

  .ce-select--box {
    margin: 1rem 0 0 1rem;
    border-radius: 0.5rem;
    width: 36rem;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 0.1rem solid #b2b2b2;

    &:hover ~ .ce-select--background-state {
      border: 3px solid #e6f7ff;
    }
    &:focus ~ .ce-select--background-state {
      // border: 3px solid #ccefff;
      border: 3px solid pink;
    }
    &:active ~ .ce-select--background-state {
      // border: 3px solid #b2e7ff;
      border: 3px solid @purple;
    }

    .ce-select--caret {
      width: 4rem;
      height: 3rem;
      margin-top: 2.4rem;
    }

    .ce-select--show-arrow {
      width: 38rem;
    }

    .ce-select--outside-arrow {
      width: 7.4rem;
      height: 6rem;
      font-size: 5.5rem;
      margin-left: 0.27rem;
      margin-top: 0.03px;
      // padding-top: 0.7rem;
      border-radius: 0 0.5rem 0.5rem 0;
      background: @gradient-cool;

      svg {
        margin: auto;
        width: 50%;
        padding: 1.4rem;
      }
      .ce-select--arrow {
        margin: auto;
        width: 50%;
        padding: 1rem;
      }
    }
  }

  .ce-select--box:active ~ .ce-select--background-state {
    // border: 3px solid #b2e7ff;
    border: 3px solid @purple;
  }

  // state changes - set up default sizing for hidden div appearing on hover, focus, and active
  .ce-select--background-state {
    border-radius: 8px;
    width: 36.1rem;
    height: 6.2rem;
    margin-top: -65px;
    margin-left: 7px;
  }

  &.ce-select--disabled {
    .ce-select--outside-arrow {
      pointer-events: none;
      background: @disabled-gray;
    }
  }

  .ce-select--error {
    .ce-select--box {
      border: 5px solid @error-text;
    }
  }
  .ce-select--error-box-wrapper {
    width: 36.6rem;
    // color: @error-text;
    margin-left: 1rem;
    // border: 0.1rem solid @error-text;
    .ce-select--wrapper {
      color: @error-text;
      border: 0.1rem solid @error-text;
    }
    .ce-select--arrow {
      width: 0;
      height: 5;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      position: center;
      border-bottom: 0.5rem solid @error-box;
      margin-left: 48%;
    }
    .ce-select--error-box {
      height: 5.6rem;
      width: 100%;
      background-color: @error-box;
      border-radius: 0.5rem;
      .ce-select--error-box-text {
        color: white;
        text-align: center;
        padding-top: 2rem;
      }
    }
  }
}
