.ce-select {
  .ce-select--arrow {
    width: 30px;
    height: 30px;
    margin: 0;
    display: inline-block;
    background: @navy;
  }

  .ce-select--arrow-down {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid @white;
  }

  .ce-select--arrow-up {
    position: absolute;
    top: 14px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid @white;
  }
}
