@import '../../../styles/celula';

.ce-select {
  // color: red;
  // width: 300px;
  // // display: -webkit-flex;
  // display: flex;
  // justify-content: flex-start;
  // // -webkit-flex-direction: row;
  // flex-direction: row;
  // flex-wrap: nowrap;
  // should remove the default arrows from most browsers here but currentlty isn't touching
  select {
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    // text-overflow: '';
    display: block;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 320px;
    // max-width: 100%;
    box-sizing: border-box;
    // margin: 10px 0 0 10px;
    // border: 1px solid #aaa;
    // box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    background-color: #fbfbfb;
  }

  // removes the arrow from the IE
  select::ms-expand {
    display: none;
  }

  // the onclick right arrow has to be placed in an ::after or won't show with select || WAIT UNTIL AFTER CSS FILE HOOKED UP
  // .select-wrapper::after {
  .ce-select--wrapper {
    margin: 10px 0 0 10px;
    border-radius: 5px;
    background-color: @red;
    // color: red;
    width: 380px;
    height: 40px;
    // display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    // -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    // border-radius: '5px',
    border: 1px solid #b2b2b2;
    .ce-select--caret {
      // margin-top: 50%;
      // top: 12px;
      // left: 8px;
      width: 40px;
      height: 30px;
      margin-top: 10px;
      // padding: 10px;
      background-color: @green;
      // border-left: 8px solid transparent;
      // border-right: 8px solid transparent;
      // border-top: 10px solid @white;
      // background-repeat: no-repeat, repeat;
      // background-position: right 0.7em top 50%, 0 0;
      // background-size: 0.65em auto, 100%;
      // .ce-select--down {
      //   padding: 10px;
      // }
    }

    .ce-select--outside-arrow {
      width: 60px;
      height: 40px;
      font-size: 55px;
      // margin-left: auto;
      // color: @white;
      // display: inline-block;
      // stroke: @white;
      // color: @white;
      background-color: @navy;
      svg {
        margin: auto;
        width: 50%;
        padding: 14px;
      }
      .ce-select--arrow {
        margin: auto;
        width: 50%;
        padding: 10px;
      }
    }
  }

  // .ce-select--arrow-up {
  //   position: absolute;
  //   top: 14px;
  //   left: 8px;
  //   width: 0;
  //   height: 0;
  //   border-left: 8px solid transparent;
  //   border-right: 8px solid transparent;
  //   border-bottom: 10px solid @white;
  // }
}
