@import '../../../styles/celula';

.ce-select {
  .ce-select__container {
    background-color: @default-background;
    border: 0.1rem solid @default-gray;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    margin: 0.3rem 0;
    padding-left: 1rem;
    width: calc(100% - 0.6rem);

    .ce-select__icon {
      align-self: center;
      padding-left: 1rem;

      span,
      svg {
        display: inline-block;
        height: 1.6rem;
        width: 1.6rem;
      }

      svg {
        stroke: @primary-text;
      }
    }

    select {
      // should remove the default arrows from most browsers
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      color: @primary-text;
      flex-grow: 1;
      font-family: proxima-nova, sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.0rem;
      padding-left: 1rem;

      // caret file brought into select as background-image and styled here
      background-image: url('./down-arrow.png');
      background-position: calc(100% - 2rem) calc(1em + 0.9rem),
        calc(100% - 1.5rem) calc(1em + 0.2rem), calc(100% - 2.5rem) 0.5em;
      background-repeat: no-repeat;
      background-size: 1.5rem;

      // removes the arrow from the IE
      &::ms-expand {
        display: none;
      }
    }

    .ce-select__button {
      background: @gradient-cool;
      border: none;
      border-radius: 0 0.5rem 0.5rem 0;
      height: 6rem;
      margin-top: -0.1rem;
      padding: 0 2.2rem;

      span,
      svg {
        stroke: @inverted-primary-text;
        display: inline-block;
        height: 1.6rem;
        width: 1.6rem;
      }
    }

    &:focus {
      box-shadow: -0.3rem 0 @focus-blue, 0.3rem 0 @focus-blue,
        0 -0.3rem @focus-blue, 0 0.3rem @focus-blue;
    }

    &:hover {
      box-shadow: -0.3rem 0 @hover-blue, 0.3rem 0 @hover-blue,
        0 -0.3rem @hover-blue, 0 0.3rem @hover-blue;
    }

    &:active {
      box-shadow: -0.3rem 0 @active-blue, 0.3rem 0 @active-blue,
        0 -0.3rem @active-blue, 0 0.3rem @active-blue;
    }
  }

  &.ce-select--disabled {
    label {
      color: @disabled-text;
    }

    .ce-select__help-text {
      color: @disabled-text;
    }

    .ce-select__container {
      .ce-select__icon svg {
        stroke: @disabled-text;
      }

      select {
        color: @disabled-text;
      }

      &:focus {
        box-shadow: none;
      }

      &:hover {
        box-shadow: none;
      }

      &:active {
        box-shadow: none;
      }

      .ce-select__button {
        pointer-events: none;
        background: @default-disabled-gray;
      }
    }
  }

  &.ce-select--error {
    .ce-select__container {
      border-color: @error-element-border;

      .ce-select__icon svg {
        stroke: @error-text;
      }

      select {
        color: @error-text;
      }

      .ce-select__button {
        background: @error-red;
      }

      &:focus {
        box-shadow: -0.3rem 0 @focus-red, 0.3rem 0 @focus-red,
          0 -0.3rem @focus-red, 0 0.3rem @focus-red;
      }

      &:hover {
        box-shadow: -0.3rem 0 @hover-red, 0.3rem 0 @hover-red,
          0 -0.3rem @hover-red, 0 0.3rem @hover-red;
      }

      &:active {
        box-shadow: -0.3rem 0 @active-red, 0.3rem 0 @active-red,
          0 -0.3rem @active-red, 0 0.3rem @active-red;
      }
    }

    .ce-errorbox {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      max-width: calc(100% - 0.6rem);
    }
  }
}
