@import '../../styles/palettes';

// Reset here, because Styleguidist inserts its css between tou base, and the component.
button {
  margin: 0;
  padding: 0;
}

// Base Buttons
.ce-button {
  background: @gradient-cool;
  border-radius: 3.5rem;
  border-width: 0;
  color: @white;
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;

  // Responsive Rules
  @media screen {
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  // Sizes
  &.ce-button--small {
    .ce-button__label {
      border-radius: 3.5rem;
      display: inline-block;
      font-size: 1.2rem;
      margin: .2rem;
      padding: .85rem 3.8rem;

      @media screen {
        @media (max-width: 768px) {
          width: ~"calc(100% - 8rem)"; // 100% - the total of the l/r padding
        }
      }
    }
  }

  &.ce-button--large {
    .ce-button__label {
      border-radius: 3.5rem;
      display: inline-block;
      font-size: 1.6rem;
      margin: .2rem;
      padding: 1.3rem 5.8rem;

      @media screen {
        @media (max-width: 768px) {
          width: ~"calc(100% - 12rem)"; // 100% - the total of the l/r padding
        }
      }
    }
  }

  &.ce-button--jumbo {
    .ce-button__label {
      border-radius: 3.5rem;
      display: inline-block;
      font-size: 1.6rem;
      margin: .2rem;
      padding: 2.3rem 5.8rem;

      @media screen {
        @media (max-width: 768px) {
          width: ~"calc(100% - 12rem)"; // 100% - the total of the l/r padding
        }
      }
    }
  }

  // States
  &:hover {
    background: #007ab2;
  }

  &:active {
    background: #00577f;
  }

  &:focus {
    box-shadow: 0 0 0 5px #b2e7ff;
    outline: none;
  }

  &.ce-button--disabled {
    background: #ccc;
  }
}

// Outline Buttons
.ce-button--outline {
  .ce-button;
  color: @black;

  // Sizes
  &.ce-button--small {
    .ce-button__label {
      background-color: @white;
    }
  }

  &.ce-button--large {
    .ce-button__label {
      background-color: @white;
    }
  }

  &.ce-button--jumbo {
    .ce-button__label {
      background-color: @white;
    }
  }

  // States
  &:hover {
    color: #007ab2;
  }

  &:active {
    color: #00577f;
  }

  &.ce-button--disabled {
    color: #ccc;
  }
}

// Text Buttons
.ce-button--text {
  .ce-button;
  background-color: @white;
  color: #007ab2;

  // Sizes
  &.ce-button--small {
    .ce-button__label {
      border-radius: 0;
      background-color: @white;
      margin: 0;
      padding: 1.05rem 4rem;
    }
  }

  &.ce-button--large {
    .ce-button__label {
      border-radius: 0;
      background-color: @white;
      margin: 0;
      padding: 1.5rem 6rem;
    }
  }

  &.ce-button--jumbo {
    .ce-button__label {
      border-radius: 0;
      background-color: @white;
      margin: 0;
      padding: 2.5rem 6rem;
    }
  }

  // States
  &:hover {
    color: #008dd2;
  }

  &:active {
    color: #006999;
  }

  &:focus {
    box-shadow: none;
    color: #006999;
    outline: none;

    .ce-button__label {
      text-decoration: underline;
    }
  }

  &.ce-button--disabled {
    color: #ccc;
  }
}

// Colors
.ce-button--blue {
  background: @blue;

  &.ce-button--outline {
    color: @blue;

    &:hover {
      color: #007ab2;
    }

    &:active {
      color: #00577f;
    }
  }

  &.ce-button--text {
    color: @blue;

    &:hover {
      color: #008dd2;
    }

    &:active {
      color: #006999;
    }

    &:focus {
      color: #006999;
    }
  }
}

.ce-button--red {
  background: @red;

  &.ce-button--outline {
    color: @red;

    &:hover {
      color: #007ab2;
    }

    &:active {
      color: #00577f;
    }
  }

  &.ce-button--text {
    color: @red;

    &:hover {
      color: #008dd2;
    }

    &:active {
      color: #006999;
    }

    &:focus {
      color: #006999;
    }
  }
}

.ce-button--purple {
  background: @purple;

  &.ce-button--outline {
    color: @purple;

    &:hover {
      color: #007ab2;
    }

    &:active {
      color: #00577f;
    }
  }

  &.ce-button--text {
    color: @purple;

    &:hover {
      color: #008dd2;
    }

    &:active {
      color: #006999;
    }

    &:focus {
      color: #006999;
    }
  }
}

.ce-button--orange {
  background: @orange;

  &.ce-button--outline {
    color: @orange;

    &:hover {
      color: #007ab2;
    }

    &:active {
      color: #00577f;
    }
  }

  &.ce-button--text {
    color: @orange;

    &:hover {
      color: #008dd2;
    }

    &:active {
      color: #006999;
    }

    &:focus {
      color: #006999;
    }
  }
}

.ce-button--green {
  background: @green;

  &.ce-button--outline {
    color: @green;

    &:hover {
      color: #007ab2;
    }

    &:active {
      color: #00577f;
    }
  }

  &.ce-button--text {
    color: @green;

    &:hover {
      color: #008dd2;
    }

    &:active {
      color: #006999;
    }

    &:focus {
      color: #006999;
    }
  }
}
