@import '../../styles/palettes';

//////////////////////////////////
//          ALL BUTTONS         //
//////////////////////////////////
// waht is the default height and width?  Large button size?
// deafult colors: border, backgroun-color, color  (how depends on what the outline value is)
// size:  height, width, margin, padding, font-size
// textL border, background-color
// in the palette page the word primary is associated with each color type.  Is this just a variable to reference a specific color or is it to be defined on this page as well
.ce-button {
  font-family: inherit;
  // font-size: 12px;
  // still needs: height, width, margin, padding, border
  height: 3.6rem;
  width: 18rem;
  font-size: 1.2rem;
  font-weight: 900;
  // letter-spacing: 0.5px; will be in typography
  // line-height: 26px;  will be in typography
  text-transform: uppercase;
  border: 0;

  /// color here to default grey

  @media screen {
    @media (max-width: 76.8rem) {
      width: 100%;
    }
  }

  &.ce-button--large {
    height: 5rem;
    width: 25.6rem;
    font-size: 1.6rem;
  }
  &.ce-button--jumbo {
    height: 7rem;
    width: 25rem;
    font-size: 1.6rem;
    // font-size: 16px;
    // add margin, padding and font size
  }
}

//////////////////////////////////
//            SIZES             //
//////////////////////////////////

////////////////////////////////////////////
// COLORS (only applies to text buttons)  //
////////////////////////////////////////////

.ce-button--blue {
  color: @blue;
  &:hover {
    color: #008dd2;
  }
  &:active {
    color: #006999;
  }
  &:focus {
    outline: none;
    border-color: #008dd2;
  }
}
.ce-button--red {
  color: @red;
  &:hover {
    color: #bc178f;
  }
  &:active {
    color: #900068;
  }
  &:focus {
    outline: none;
    border-color: #900068;
  }
}

//////////////////////////////////
//       TEXT BUTTONS           //
//////////////////////////////////

.ce-button--text {
  .ce-button;
  border-radius: 0;
  background-color: transparent;
  font-style: normal;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding: 2px 4px;
}

//////////////////////////////////
//       OUTLINE BUTTONS        //
/////////////////////////////////

.ce-button--outline {
  .ce-button;
  // box-sizing: border-box;  will be applied at the top
  padding: 4px;
  border-radius: 3.5rem;
  background-color: #ffffff;
  color: #0f1422;
  background: linear-gradient(317.58deg, #098dc9 0%, #7838a8 100%);
  span {
    background: white;
    border-radius: 3.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.ce-button--disabled {
    color: #ccc9c9;
    background: #ccc9c9;
    border: 0.3rem solid #e0e0e0;
    background-color: #ffffff;
  }
  &:hover {
    background: #007bb7;
    color: #007bb7;
  }

  &:active {
    background: #005883;
    color: #005883;
  }

  &:focus {
    outline: none;
    color: #0f1422;
    box-shadow: 0 0 0 0.5rem #b2e7ff;
    text-transform: underline;
  }

  &:disabled {
    background: #e0e0e0;
    color: #e0e0e0;
    cursor: auto;
  }
}

//////////////////////////////////
//         SOLID BUTTONS       //
/////////////////////////////////
.ce-button--solid {
  .ce-button;
  margin: 1rem;
  border-radius: 3.5rem;
  background: linear-gradient(317.58deg, #098dc9 0%, #7838a8 100%);
  border: 0;
  color: #ffffff;
  &.ce-button--disabled {
    background: #e0e0e0;
    color: #e0e0e0;
    cursor: auto;
  }
  &:hover {
    background: #007ab2;
  }
  &:active {
    background: #00577f;
  }
  &:focus {
    outline: none;
    border: 0.5rem solid #b2e7ff;
    background: linear-gradient(317.58deg, #098dc9 0%, #7838a8 100%);
    box-shadow: 0 0 0 0.5rem #b2e7ff;
  }
}
