@import '../../../styles/celula';

.ce-switch {
  display: flex;
  flex-direction: column;

  input {
    // hide the built-in checkbox
    left: -9999px;
    position: absolute;

    + .ce-switch__slider {
      cursor: pointer;
      display: block;
      height: 3rem;
      position: relative;
      margin: 1.5rem 3rem;
      padding: 0.8rem 5rem;
      // DEFAULT CUSTOM SLIDER STYLING IS UNCHECKED
      // channel
      &::before {
        background-color: @before-background;
        border-radius: 0.75rem;
        box-sizing: border-box;
        content: '';
        height: 1.2rem;
        left: 0.75rem;
        margin: -1.8rem;
        position: absolute;
        top: 2.85rem;
        transition: 250ms ease-in-out;
        width: 4.1rem;
      }
      //dot
      &::after {
        flex: 1;
        background-color: @after-background;
        border: 1px solid @after-border;
        border-radius: 50%;
        content: '';
        height: 1.8rem;
        left: -1rem;
        position: absolute;
        transition: 250ms ease-in-out;
        width: 1.8rem;
      }
      // STATE CHANGES SHOULD ONLY TOUCH THE AFTER IN BOTH CHECKED & UNCHECKED
      &:hover {
        &::after {
          box-shadow: -2px 0 0px 7px @90-gray, 2px 0 0px 7px @90-gray,
            0 -2px 0px 7px @90-gray, 0 -2px 0px 7px @90-gray;
        }
      }

      &:active {
        &::after {
          box-shadow: -2px 0 0px 7px @70-gray, 2px 0 0px 7px @70-gray,
            0 -2px 0px 7px @70-gray, 0 -2px 0px 7px @70-gray;
        }
      }
      &:focus {
        &::after {
          box-shadow: -2px 0 0px 7px @unchecked-focus-gray,
            2px 0 0px 7px @unchecked-focus-gray,
            0 -2px 0px 7px @unchecked-focus-gray,
            0 -2px 0px 7px @unchecked-focus-gray;
        }
      }
    }

    // switch checked and state changes
    &:checked + .ce-switch__slider {
      &::before {
        background-color: @checked-before;
      }
      &::after {
        background-color: @checked-after-background;
        border: 0.1rem solid @checked-after-background;
        left: 1.5rem;
      }

      &:hover {
        &::after {
          // background-color: red;
          box-shadow: -2px 0 0px 7px @hover-blue, 2px 0 0px 7px @hover-blue,
            0 -2px 0px 7px @hover-blue, 0 -2px 0px 7px @hover-blue;
        }
      }
      &::active {
        &::after {
          background-color: black;
          box-shadow: -2px 0 0px 7px @active-blue, 2px 0 0px 7px @active-blue,
            0 -2px 0px 7px @active-blue, 0 -2px 0px 7px @active-blue;
        }
      }
      &:focus {
        &::after {
          background-color: purple;
          box-shadow: -2px 0 0 7px @focus-blue, 2px 0 0 7px @focus-blue,
            0 -2px 0 7px @focus-blue, 0 -2px 0 7px @focus-blue;
        }
      }
    }
  }

  &.ce-switch--disabled {
    pointer-events: none;

    .ce-switch__slider {
      &::before {
        background-color: @disabled-unchecked-before;
      }
      &::after {
        background-color: @disabled-unchecked-after-background;
        border: 0.1rem solid @disabled-unchecked-after-border;
        @media screen {
          @media (max-width: 768px) {
            margin-top: -1.7rem;
          }
        }
      }
    }

    input:checked + .ce-switch__slider::before {
      background-color: @disabled-checked-before;
      box-shadow: none;
    }
    input:checked + .ce-switch__slider::after {
      background-color: @disabled-checked-after;
      border: 0.1rem solid @disabled-checked-after;
    }
  }

  &.ce-switch--error {
    color: @checked-red;
    input {
      + .ce-switch__slider {
        &::before {
          background-color: @error-red;
          box-shadow: none;
        }
        &::after {
          border: 0.1rem solid @error-border;
          background-color: @white;
          @media screen {
            @media (max-width: 768px) {
              margin-top: -1.7rem;
            }
          }
        }

        &:hover {
          &::after {
            box-shadow: -2px 0 0 7px @hover-red, 2px 0 0 7px @hover-red,
              0 -2px 0 7px @hover-red, 0 -2px 0 7px @hover-red;
          }
        }
        &:active {
          &::after {
            box-shadow: -2px 0 0 7px @active-red, 2px 0 0 7px @active-red,
              0 -2px 0 7px @active-red, 0 -2px 0 7px @active-red;
          }
        }
        &:focus {
          &::after {
            box-shadow: -2px 0 0 7px @focus-red, 2px 0 0 7px @focus-red,
              0 -2px 0 7px @focus-red, 0 -2px 0 7px @focus-red;
          }
        }
      }
    }
    input:checked + .ce-switch__slider::after {
      border: 0.1rem solid @error-red;
      background-color: @error-red;
    }
    .ce-errorbox {
      margin-left: 2.75rem;
      max-width: calc(100% - 2.75rem);
    }
  }
}
