import React from 'react';
import PropTypes from 'prop-types';

import './COMPONENT_NAME.less';

const COMPONENT_NAME = (props) => <div>{props.children}</div>;

COMPONENT_NAME.propTypes = {
  children: PropTypes.node,
};

COMPONENT_NAME.defaultProps = {
  children: 'Hello, world!',
};

export default COMPONENT_NAME;
