This is information about our COMPONENT_NAME component.

```
import COMPONENT_NAME from './COMPONENT_NAME';

<COMPONENT_NAME>
  You created a component.
</COMPONENT_NAME>
```

> This text comes from a markdown file in the `/src/components/COMPONENT_NAME` dir.
