.sr-only {
  border: 0;
  clip-path: circle(0);
  height: 0px;
  line-height: normal;
  overflow: hidden;
  position: absolute !important;
  width: 0px;
}

.ce-d-flex {
  display: flex;

  * {
    flex-grow: 1;
  }
}
