// Primary Colors
@blue: #00b0ff;
@red: #ff0054;
@purple: #7838a8;
@orange: #fca635;
@green: #acd84f;
@error-text: #E5004B;
@error-box: #CC0043;

// Secondary Colors
@extra-light-gray: #f1f6f9;
@light-gray: #a6b0b6;
@gray: #72828d;
@navy: #192344;
@black: #0f1422;

// Other Colors
@white: #fff;

// Gradients
@gradient-cool: linear-gradient(317.58deg, #098dc9 0%, #7838a8 100%);
@gradient-warm: linear-gradient(317.58deg, #fba635 0%, #acd74e 100%);
@gradient-hot: linear-gradient(317.58deg, #62248d 0%, #c4356e 100%);
