@import '../../../styles/celula';

.ce-input {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;

  &:hover ~ .ce-input--background-state {
    border: 0.3rem solid @hover-blue;
  }
  &:focus ~ .ce-input--background-state {
    border: 0.3rem solid @focus-blue;
  }
  &:active ~ .ce-input--background-state {
    border: 0.3rem solid @active-blue;
  }

  label {
    order: 0;
    height: 2.2rem;
    font-size: 1.6re;
    margin-left: 1rem;
  }

  input[type='month']::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    width: 40%;
    // z-index: 1;
    // background-color: green;
  }
  input[type='datetime-local']::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    width: 40%;
    // z-index: 1;
    // background-color: green;
  }
  input[type='week']::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    width: 40%;
  }

  .ce-input--date-icon {
    position: absolute;
    margin-left: 305px;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 0;
  }
  .ce-input--date-icon ~ input {
    width: 46rem;
    margin-right: 0px;
  }

  input {
    order: 1;
    height: 5.8rem;
    width: 38rem;
    padding-left: 1.9rem;
    border-radius: 0.5rem;
    border: 0;
  }
  &.ce-input--hidden {
    .ce-input--box {
      height: 0;
      width: 0;
      border: none;
      margin: 0;
      display: none;
      background-color: pink;
    }
  }

  .ce-input--box {
    margin: 0rem 0 0 1rem;
    border-radius: 0.5rem;
    width: 36rem;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 0.1rem solid @unchecked-gray;

    // &:hover {
    //   .ce-input--background-state {
    //     border: 0.3rem solid @hover-blue;
    //   }
    // }
    // &:focus {
    //   .ce-input--background-state {
    //     border: 0.3rem solid @focus-blue;
    //   }
    // }
    // &:active {
    //   .ce-input--background-state {
    //     border: 0.3rem solid @active-blue;
    //   }
    // }

    &:hover ~ .ce-input--background-state {
      border: 0.3rem solid @hover-blue;
    }
    &:focus ~ .ce-input--background-state {
      border: 0.3rem solid @focus-blue;
    }
    &:active ~ .ce-input--background-state {
      border: 0.3rem solid @active-blue;
    }
    input {
      // state changes on input affecting background-state div
      &:hover ~ .ce-input--background-state {
        border: 0.3rem solid @hover-blue;
      }
      &:focus ~ .ce-input--background-state {
        border: 0.3rem solid @focus-blue;
      }
      &:active ~ .ce-input--background-state {
        border: 0.3rem solid @active-blue;
      }
    }
    // showGradientIconBox
    .ce-input--show-gradient-icon-box {
      width: 38rem;
    }
    .ce-input--gradient-button {
      order: 2;
      width: 7.4rem;
      height: 6rem;
      font-size: 5.5rem;
      margin-left: -0.1rem;
      margin-top: 0;
      margin-right: 0;
      border-radius: 0 0.5rem 0.5rem 0;
      background: @gradient-cool;
      svg {
        margin: auto;
        width: 50%;
        padding: 1.4rem;
      }
      .ce-input--icon-in-box {
        margin: auto;
        width: 50%;
        padding: 1rem;
      }
    }
  }

  .ce-input--icon {
    margin: 2rem;
  }

  input:focus {
    outline: none;
  }

  .ce-input--background-state:focus {
    outline: none;
  }

  .ce-input--box:focus {
    outline: none;
  }

  .ce-input--gradient-button:focus {
    outline: none;
  }

  // state changes - set up default sizing for hidden div appearing on hover, focus, and active
  .ce-input--background-state {
    position: absolute;
    z-index: -1;
    top: 1.9rem;
    left: 0.8rem;
    border-radius: 0.8rem;
    width: 36.2rem;
    height: 6.2rem;
    margin-top: 1rem;
    margin-left: 0.9rem;
  }

  &.ce-input--disabled {
    input {
      color: @checked-disabled-gray;
    }
    label {
      color: @checked-disabled-gray;
    }
    .ce-input--box {
      &:hover ~ .ce-input--background-state {
        border: none;
      }
    }
    .ce-input--gradient-button {
      pointer-events: none;
      background: @checked-disabled-gray;
    }
  }

  &.ce-input--error {
    .ce-input--gradient-button {
      border-radius: 0;
    }
    .ce-input--box {
      border: 0.3rem solid @error-box-background;
      &:hover {
        border: 0.3rem solid @hover-red;
      }
      &:focus {
        border: 0.3rem solid @focus-red;
      }
      &:active {
        border: 0.3rem solid @active-red;
      }
      input {
        color: @error-box-background;
        // need to silence the triggers to the background-state changes usually happening on input when not in error state
        &:hover ~ .ce-input--background-state {
          border: none;
        }
        &:focus ~ .ce-input--background-state {
          border: none;
        }
        &:active ~ .ce-input--background-state {
          border: none;
        }
      }
      color: @error-box-background;
      .ce-input--gradient-button {
        background: @error-box-background;
        border: 0.1rem solid @error-box-background;
      }
    }
    .ce-input--error-box-wrapper {
      width: 36.5rem;
      margin-left: 0.9rem;
      .ce-input--icon-in-box {
        width: 0;
        height: 5;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        position: center;
        border-bottom: 0.5rem solid @error-box-background;
        margin-left: 48%;
        margin-top: 0.5rem;
      }
      .ce-input--error-box {
        height: 6rem;
        width: 36.5rem;
        background-color: @error-box-background;
        border-radius: 0.5rem;
        .ce-input--error-box-text {
          color: white;
          text-align: center;
          padding-top: 2rem;
          padding-left: 36%;
          display: inline-block;
        }
      }
    }
  }
}
