@import '../../../styles/celula';

.ce-input {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  width: 36rem;
  &:hover {
    .ce-input--box {
      &::after {
        border: 0.3rem solid @hover-blue;
      }
    }
  }
  &:focus {
    .ce-input--box {
      &::after {
        border: 0.3rem solid @focus-blue;
      }
    }
  }
  &:active {
    .ce-input--box {
      &::after {
        border: 0.3rem solid @active-blue;
      }
    }
  }

  label {
    order: 0;
    height: 2.2rem;
    font-size: 1.6rem;
    margin-left: 1rem;
  }

  .ce-input--helper-text {
    font-size: 12px;
    margin: 5px 0px 10px 10px;
    // width: 36rem;
    height: 100%;
  }

  input[type='month']::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    width: 40%;
    // z-index: 7;
  }
  input[type='datetime-local']::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    width: 40%;
    // z-index: 5;
  }
  input[type='week']::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    width: 40%;
    // z-index: 5;
  }

  &.ce-input--hidden {
    .ce-input--box {
      height: 0;
      width: 0;
      border: none;
      margin: 0;
      display: none;
      background-color: pink;
    }
  }

  .ce-input--date-icon {
    position: absolute;
    margin-left: 305px;
    margin-top: 20px;
    // z-index: 0;
  }
  // .ce-input--date-icon ~ input {
  //   width: 46rem;
  //   margin-right: 0px;
  // }

  .ce-input--box:focus {
    outline: none;
  }
  .ce-input--box {
    // z-index: 1;
    margin: 0rem 0 0 1rem;
    border-radius: 0.6rem;
    display: flex;
    border: 0.1rem solid @gray-border;

    &::after {
      position: absolute;
      border-radius: 0.8rem;
      width: 356px;
      height: 68px;
      margin-top: -4.5px;
      margin-left: -4px;
      z-index: -4;
      content: '';
      box-sizing: border-box;
    }

    .ce-input--wrapping-div {
      display: flex;
      flex-direction: row;
      width: 86%;
      height: 6rem;
      padding-left: 4px;

      .ce-input--icon {
        margin: 2rem 0 0 2rem;
        order: 1;
      }

      input {
        order: 2;
        height: 96%;
        padding-left: 1.9rem;
        border: 0;
        flex-grow: 1;
        margin-right: auto;
      }
      input:focus {
        outline: none;
      }

      .ce-input--gradient-button:focus {
        outline: none;
      }
      .ce-input--gradient-button {
        order: 3;
        width: 7.4rem;
        font-size: 5.5rem;
        margin-right: -45px;
        border: 1px;
        border-radius: 0 0.5rem 0.5rem 0;
        background: @gradient-cool;
        svg {
          margin: auto;
          width: 50%;
          padding: 1.4rem;
        }
        .ce-input--icon-in-box {
          margin: auto;
          width: 50%;
          padding: 1rem;
        }
      }

      .ce-input--error-icon ~ input {
        margin-left: -87px;
      }

      .ce-input--error-icon {
        background-color: @white;
        padding: 2px;
        z-index: 4;
        order: 3;
        margin-right: -10%;
        height: 20px;
        margin-top: 47px;
        .ce-input--error-icon-text {
          padding: 4px;
        }
      }
    }
  }

  &.ce-input--disabled {
    input {
      color: @checked-disabled-gray;
    }
    label {
      color: @checked-disabled-gray;
    }
    .ce-input--box {
      &:hover {
        &::after {
          border: none;
        }
      }
    }
    .ce-input--wrapping-div {
      .ce-input--gradient-button {
        pointer-events: none;
        background: @checked-disabled-gray;
      }
    }
  }

  &.ce-input--error {
    color: @error-text;
    &:hover {
      .ce-input--box {
        border: 0.3rem solid @hover-red;
        &::after {
          border: none;
        }
      }
    }
    &:focus {
      .ce-input--box {
        border: 0.3rem solid @focus-red;
        &::after {
          border: none;
        }
      }
    }
    &:active {
      .ce-input--box {
        border: 0.3rem solid @active-red;
        &::after {
          border: none;
        }
      }
    }
    .ce-input--box {
      border: 0.3rem solid @error-border;
      input {
        color: @error-text;
      }
    }

    .ce-input--wrapping-div {
      .ce-input--gradient-button {
        background: @error-box-background;
        border: 0.1rem solid @error-box-background;
      }
    }

    // THE BELOW CODE FORMATS THE ERROR BOX TO THE INPUT BOX ABOVE
    // I'M LEAVING IT HERE COMMENTED OUT WHILE WE FIND OUT FROM FERG HOW HE WANTS THE ERROR BOX STYLED
    // .ce-input--error-box-wrapper {
    //   margin-left: 0.9rem;

    //   .ce-input--box-pointer {
    //     width: 0;
    //     height: 5;
    //     border-left: 0.5rem solid transparent;
    //     border-right: 0.5rem solid transparent;
    //     position: center;
    //     border-bottom: 0.5rem solid @error-box-background;
    //     margin-left: 48%;
    //     margin-top: 0.5rem;
    //   }
    //   .ce-input--error-box {
    //     height: 6rem;
    //     background-color: @error-box-background;
    //     border-radius: 0.5rem;
    //     .ce-input--error-box-text {
    //       color: @white;
    //       text-align: center;
    //       padding-top: 2rem;
    //       padding-left: 36%;
    //       display: inline-block;
    //     }
    //   }
    // }
  }
}
