@import '../../styles/celula';

@icon-size: @base-font-size;

.ce-icon {
  height: @icon-size;
  width: @icon-size;
}

//////////////////////////////////
//         Icon Colors          //
//////////////////////////////////
// Primary Base Colors
.ce-icon--system {
  &.ce-icon--primary {
    stroke: @gradient-cool;
  }

  // Secondary Base Colors
  &.ce-icon--secondary {
    stroke: @gradient-hot;
  }

  // Black Base Colors
  &.ce-icon--black {
    stroke: @black;
  }

  // Blue Base Colors
  &.ce-icon--blue {
    stroke: @blue;
  }

  // Green Base Colors
  &.ce-icon--green {
    stroke: @green;
  }

  // Orange Base Colors
  &.ce-icon--orange {
    stroke: @orange;
  }

  // Purple Base Colors
  &.ce-icon--purple {
    stroke: @purple;
  }

  // Red Base Colors
  &.ce-icon--red {
    stroke: @red;
  }

  // White Base Colors
  &.ce-icon--white {
    stroke: @white;
  }
}
