@import '../../styles/celula';

.ce-alert {
  height: 5rem;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;

  ////////////////////////////////
  //   4 FLEXBOX DIVS IN A ROW  //
  ////////////////////////////////
  .ce-alert__leftIcon {
    flex-grow: 0;
    padding: 1.5rem;
  }
  .ce-alert__text {
    flex-grow: 8;
    padding: 1.5rem;
  }
  .ce-alert__link {
    flex-grow: 3;
    padding: 1.5rem;
    .ce-alert__link-text {
      float: right;
      padding: 0.3rem 1rem;
      font-size: 12px;
      font: Proxima Nova Bold;
      font-weight: bold;
    }
  }
  .ce-alert__close {
    flex-grow: 0.2;
    padding: 1.5rem;
    float: right;
    border-radius: 0.5rem;
    // remove default button settings
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }
  ///////////////////////////////
  //           TYPES           //
  ///////////////////////////////
  &.ce-alert--info {
    background-color: @info;
    .ce-alert__close {
      background-color: @info;
    }
  }
  &.ce-alert--warning {
    background-color: @warning;
    .ce-alert__close {
      background-color: @warning;
    }
  }
  &.ce-alert--error {
    color: @white;
    background-color: @error;
    .ce-alert__close {
      background-color: @error;
    }
  }
  &.ce-alert--success {
    background-color: @success;
    .ce-alert__close {
      background-color: @success;
    }
  }
}
