@import '../../../../styles/celula';

.ce-errorbox--error__container {
  background-color: @white;
  padding: 0 2.75rem;

  & > div {
    display: inline-block;
  }

  .ce-errorbox--error__arrow {
    border-bottom: 0.5rem solid @error-box-background;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    margin-left: 50%;
    width: 0;
  }

  .ce-errorbox--error__message {
    background-color: @error-box-background;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 2rem 5rem;

    .ce-errorbox--error__text {
      color: @white;
      font-size: @error-font-size;
    }
  }
}
