@import '../../../styles/celula';

.ce-fileuploader {
  display: inline-block;

  &:focus {
    outline: none;
  }
  input {
    // hide the default input
    left: -999.9rem;
    position: absolute;
    height: 0px;
    width: 0px;
  }

  // Responsive Rules
  @media screen {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .ce-fileuploader__label {
    // customized fileuploader for input type="file"
    border-radius: 3.5rem;
    // setting up the basic font rules for default
    display: inline-flex;
    font-family: inherit;
    justify-content: center;
    text-transform: uppercase;
    border-width: 0;
    font-size: 1.6rem;
    font-weight: 900;

    // Responsive Rules
    @media screen {
      @media (max-width: 76.8rem) {
        width: 100%;
      }
    }

    // text only in label
    .ce-fileUploader__label-text {
      flex-grow: 1;
    }

    //////////////////////////
    //        SIZES         //
    //////////////////////////
    // DEFAULT LARGE
    &.ce-fileuploader--large {
      .ce-fileuploader__label-text {
        font-size: 1.6rem;
        margin: 0.2rem;
        padding: 1.3rem 5.8rem;
        border-radius: 3.5rem;
        display: inline-block;
      }
    }
    // SMALL
    &.ce-fileuploader--small {
      .ce-fileuploader__label-text {
        border-radius: 3.5rem;
        display: inline-block;
        font-size: 1.2rem;
        margin: 0.2rem;
        padding: 0.85rem 3.8rem;
      }
    }
    // JUMBO
    &.ce-fileuploader--jumbo {
      .ce-fileuploader__label-text {
        border-radius: 3.5rem;
        display: inline-block;
        font-size: 1.6rem;
        margin: 0.2rem;
        padding: 2.3rem 5.8rem;
      }
    }

    //////////////////////////
    // COLORS FOR BOTH TYPES //
    //////////////////////////
    // PRIMARY
    &.ce-fileuploader--primary {
      &.ce-fileuploader--default {
        color: @white;
        background: @gradient-cool;
        // States
        &:hover {
          background: @primary-hover;
        }
        &:active {
          background: @primary-active;
        }
        &:focus {
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
      &.ce-fileuploader--outline {
        background: @gradient-cool;
        // border: 2px solid @gradient-cool;
        span {
          background-color: @white;
          background: @white;
          padding: 0.8rem 40%;
        }
        &:hover {
          border: 0.3rem solid @primary-hover;
        }
        &:active {
          border: 0.3rem solid @primary-active;
        }
        &:focus {
          border: 0.3rem solid @primary-focus;
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
    }
    // SECONDARY
    &.ce-fileuploader--secondary {
      &.ce-fileuploader--default {
        color: @white;
        background: @gradient-hot;
        // States
        &:hover {
          background: @secondary-hover;
        }
        &:active {
          background: @secondary-active;
        }
        &:focus {
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
      &.ce-fileuploader--outline {
        background: @white;
        // border: 0.3rem solid @gradient-hot;
        border: 0.3rem solid pink;
        // States
        &:hover {
          background: @white;
          border: 0.3rem solid @secondary-hover;
        }
        &:active {
          border: 0.3rem solid @secondary-active;
        }
        &:focus {
          border: 0.3rem solid @secondary-focus;
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
    }

    // BLACK
    &.ce-fileuploader--black {
      &.ce-fileuploader--default {
        color: @white;
        background: @black;
        // States
        &:hover {
          background: @black-hover; // 50%-ish lighter
        }
        &:active {
          background: @black-background; // 30%-ish lighter
        }
        &:focus {
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
      &.ce-fileuploader--outline {
        background: @white;
        border: 0.3rem solid @black;
        &:hover {
          border: 0.3rem solid #404040; // 50%-ish lighter
        }
        &:active {
          border: 0.3rem solid #262626; // 30%-ish lighter
        }
        &:focus {
          border: 0.3rem solid @black-focus;
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
    }

    // INVERTED
    &.ce-fileuploader--inverted {
      &.ce-fileuploader--default {
        background-color: @white;
        &:hover {
          color: @black-hover; // 50%-ish lighter
        }
        &:active {
          color: @black-background; // 30%-ish lighter
        }
        &:focus {
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
      &.ce-fileuploader--outline {
        color: @white;
        background: @gradient-cool;
        border: 0.2rem solid @white;
        &:hover {
          background: @inverted-hover; // 15%-ish lighter;
        }
        &:active {
          background: @inverted-active; // 25%-ish lighter
        }
        &:focus {
          box-shadow: 0 0 0 0.5rem @primary-focus-shadow;
        }
      }
    }
    //////////////////////////
    //       DISABLED       //
    //////////////////////////
    &.ce-fileuploader--disabled {
      pointer-events: none;
      &.ce-fileuploader--default {
        background: @focus-gray;
      }
      &.ce-fileuploader--outline {
        border: 0.2rem solid @focus-gray;
        color: @focus-gray;
      }
    }
  }

  .ce-fileuploader__error-outline {
    border: 3px solid @error-text;
    padding: 10px;
    border-radius: 5px;

    .ce-fileuploader__error-text {
      color: @error-text;
      background: @white;
      float: right;
      height: 1.6rem;
      margin-bottom: 18px;
      margin-right: 22px;
      margin-top: 4px;
      padding: 0 30px;
      text-align: right;
    }

    .ce-fileuploader--error {
      &.ce-fileuploader--default {
        background: @checked-red;
        color: @white;

        &:hover {
          background: @hover-red;
        }
        &:active {
          background: @active-red;
        }
        &:focus {
          background: @focus-red;
        }
      }
      &.ce-fileuploader--outline {
        background: @white;
        &.ce-fileuploader__label {
          background: yellow;
          background-color: @checked-red;
          color: @error-text;
        }
      }
    }
  }
}
