@import '../../../styles/celula';
@import '../../../styles/palettes.less';

.ce-fileuploader {
  display: inline-block;

  &:focus {
    outline: none;
  }
  input {
    // hide the default input
    left: -999.9rem;
    position: absolute;
    height: 0px;
    width: 0px;
  }

  // Responsive Rules
  @media screen {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .ce-fileuploader__label {
    // customized fileuploader for input type="file"
    // box-sizing: border-box;
    border-radius: 35px;
    // setting up the basic font rules for default
    display: inline-flex;
    font-family: inherit;
    justify-content: center;
    text-transform: uppercase;
    border-width: 0;
    font-size: 1.6rem;
    font-weight: 900;

    // Responsive Rules
    @media screen {
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    // text only in label
    .ce-fileUploader__label-text {
      flex-grow: 1;
    }

    //////////////////////////
    //        SIZES         //
    //////////////////////////
    // DEFAULT LARGE
    &.ce-fileuploader--large {
      .ce-fileuploader__label-text {
        font-size: 1.6rem;
        margin: 0.2rem;
        padding: 1.3rem 5.8rem;
        border-radius: 3.5rem;
        display: inline-block;
      }
    }
    // SMALL
    &.ce-fileuploader--small {
      .ce-fileuploader__label-text {
        border-radius: 3.5rem;
        display: inline-block;
        font-size: 1.2rem;
        margin: 0.2rem;
        padding: 0.85rem 3.8rem;
      }
    }
    // JUMBO
    &.ce-fileuploader--jumbo {
      .ce-fileuploader__label-text {
        border-radius: 3.5rem;
        display: inline-block;
        font-size: 1.6rem;
        margin: 0.2rem;
        padding: 2.3rem 5.8rem;
      }
    }

    //////////////////////////
    // COLORS FOR BOTH TYPES //
    //////////////////////////
    // PRIMARY
    &.ce-fileuploader--primary {
      &.ce-fileuploader--default {
        color: @white;
        background: @gradient-cool;
        // States
        &:hover {
          background: #007ab2;
        }

        &:active {
          background: #00577f;
        }
      }
      &.ce-fileuploader--outline {
        .ce-fileuploader__label {
          background-color: @white;
        }
        // border: 2px solid @gradient-cool;
        ///// ASK IAN FOR HELP AS TO WHY THE @GRADIENT-COOL IS NOT WORKING
        border: 2px solid @purple;
        &:hover {
          border: 2px solid #007ab2;
        }
        &:active {
          border: 2px solid #00577f;
        }
        &:focus {
          border: 2px solid #005883;
          box-shadow: 0 0 0 3px #b2e7ff;
        }
      }
    }
    // SECONDARY
    &.ce-fileuploader--secondary {
      &.ce-fileuploader--default {
        color: @white;
        background: @gradient-hot;
        // States
        &:hover {
          background: #b3003a;
        }
        &:active {
          background: #80002a;
        }
      }
      &.ce-fileuploader--outline {
        background: @white;
        // border: 2px solid @gradient-hot; SAME ISSUE HERE!!!!
        border: 2px solid green;

        // States
        &:hover {
          background: @white;
          border: 2px solid #b3003a;
        }
        &:active {
          border: 2px solid #80002a;
        }
        &:focus {
          .ce-fileuploader__label {
            border: 2px solid #900068;
            // INVESTIGATE WHY NO CONSISTANT FOCUS SHADOW IN THE DESIGNS FOR OUTLINE FOCUS STATES - NONE ON BUTTON EITHER
            // box-shadow: 0 0 0 3px
          }
        }
      }
    }

    // BLACK
    &.ce-fileuploader--black {
      &.ce-fileuploader--default {
        color: @white;
        background: @black;
        // States
        &:hover {
          background: #404040; // 50%-ish lighter
        }
        &:active {
          background: #262626; // 30%-ish lighter
        }
        // FOCUS ??????
      }
      &.ce-fileuploader--outline {
        background: @white;
        // border: 2px solid @gradient-hot; SAME ISSUE HERE!!!!
        border: 2px solid @black;
        &:hover {
          // background: @white;
          border: 2px solid #404040; // 50%-ish lighter
        }
        &:active {
          border: 2px solid #262626; // 30%-ish lighter
        }
        &:focus {
          // SAME NOTHING IN DESIGN oR BUTTONS
        }
      }
    }

    // INVERTED
    &.ce-fileuploader--inverted {
      &.ce-fileuploader--default {
        background-color: @white;
        &:hover {
          color: #404040; // 50%-ish lighter
        }
        &:active {
          color: #262626; // 30%-ish lighter
        }
      }
      &.ce-fileuploader--outline {
        color: @white;
        background: @gradient-cool;
        border: 2px solid white;
        &:hover {
          background: #4a4396; // 15%-ish lighter;
        }
        &:active {
          background: #3e3e85; // 25%-ish lighter
        }
        &:focus {
          // SAME ISSUE
        }
      }
    }
  }
}

//////////////////////////
//       DISABLED       //
//////////////////////////
// &.ce-fileuploader--disabled {
//   pointer-events: none;
//   &.ce-fileuploader--default {
//     .ce-fileuploader__label {
//       // &::before {
//       background: @focus-gray;
//       // }
//     }
//   }
//   &.ce-fileuploader--outline {
//   }
// }
