@import '../../styles/celula';

.ce-table {

  label {
    display: hidden;
  }

  @media screen and (min-width:765px){
    .ce-table__container-mobile{
      display: none;
    }
    .ce-table__container-desktop{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  
      .ce-table__header-row{
        display:flex;
        align-items: center;
        justify-content: center;
        border-bottom: .1rem solid @gray;

        .ce-checkbox {
          padding-bottom: 12px;
        }
       }
  
       .ce-table__header-cell{  
        padding: 1rem;
        font-weight:bold;
        background-color: @white;
        align-items:stretch;
        width: 100%;
       }
  
       .ce-table__data-row{
        align-items: center;
        justify-content: center;
        display:flex;
        flex-direction: row;

        .ce-checkbox {
          padding-bottom: 12px;
        }
        }
  
        .ce-table__data-row:nth-child(even){
          background-color: @catskill-white;
          &.ce-table--selectable {
            &:hover {
              background-color: @hover-blue;
             }
             &:active {
              background-color: @active-blue;
              }
          }

        }
        .ce-table__data-row:nth-child(odd){
          background-color: @white;
          &.ce-table--selectable {
            &:hover {
              background-color: @hover-blue;
             }
             &:active {
              background-color:@active-blue;
              }
          }
        }
        
       .ce-table__data-cell{
        align-items: center;
        flex-basis: auto;
        padding: 1rem;
        align-items:stretch;
        width: 100%;
       }
    }
  }


  @media screen and (max-width:765px){
    .ce-table__container-desktop{
      display: none;
    }
    .ce-table__container-mobile {
      margin-top:4rem;
      display:flex;
      
      span {
        font-weight: bold;
      }
     
      .ce-table__mobile-row {
        width: 100%;
        display:flex;
        flex-direction: column;
   
        .ce-table__mobile-card-container{
          &.ce-table--selectable {
            &:hover {
              background-color: @hover-blue;
             }
             &:active {
              background-color: @active-blue;
              }
          }

          .ce-table__mobile-data-container{
            display:flex;
            align-items: center;
            padding: 0rem 0rem 1rem 5rem;
            .ce-table__mobile-headings{
              display: flex;
              flex-direction: column;
              width: 30%;
              font-weight: bold;
              }
              .ce-table__mobile-card-data{
                padding: 1rem;
                .ce-table__mobile-card-row-data{
                  padding: .3rem;
                }
            }
          }

        }
  
        .ce-table__mobile-card-container:nth-child(odd){
          background-color: @catskill-white;
        }
        .ce-table__mobile-card-container:nth-child(even){
          background-color: @white;
        }
      }
  }
  }

}
