.ce-file-uploader {
  input {
    display: none;
  }

  .ce-file-uploader__container {
    align-items: center;
    background-color: #fbfbfb;
    border: 1px dashed #b2b2b2;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    height: 80px;
    justify-content: center;

    label {
      color: #007db8;
      cursor: pointer;
    }
  }
}
