@import '../../../styles/celula';

.ce-checkbox {
  user-select: none;

  input {
    opacity: 0;

    + label {
      cursor: pointer;
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      padding: 0.8rem 4.4rem;

      // Unchecked
      // The background
      &::before {
        background-color: transparent;
        border: 0.75rem solid transparent;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: 3.6rem;
        left: 0;
        margin: -0.8rem;
        margin-left: 2rem;
        position: absolute;
        width: 3.6rem;
      }

      // The dot
      &::after {
        background-color: @unchecked-background;
        border-radius: 0.3rem;
        box-sizing: border-box;
        content: '';
        height: 2rem;
        left: 0;
        margin-left: 2.8rem;
        position: absolute;
        width: 2rem;
      }

      // Hover
      &:hover {
        // The background
        &::before {
          background-color: @hover-gray;
          border: 0;
        }
      }

      // Active
      &:active {
        // The background
        &::before {
          background-color: @active-gray;
          border: 0;
        }
      }

      // Focus
      &:focus {
        // The background
        &::before {
          background-color: @focus-gray;
          border: 0;
        }
      }

      // The background mask
      + .ce-checkbox__center {
        border: 1px solid @unchecked-gray;
        border-radius: 0.3rem;
        box-sizing: border-box;
        display: inline-block;
        height: 2.1rem;
        left: 0;
        margin-left: 2.75rem;
        margin-top: 0.75rem;
        position: absolute;
        width: 2.1rem;
        z-index: -1;
      }
    }

    &:checked + label {
      // Checked
      // The dot
      &::after {
        background-color: @checked-blue;
        border: 0.5rem solid @white;
      }

      // Hover
      &:hover {
        // The background
        &::before {
          background-color: @hover-blue;
        }
      }

      // Active
      // The background
      &:active {
        &::before {
          background-color: @active-blue;
        }
      }

      // Focus
      &:focus {
        // The background
        &::before {
          background-color: @focus-blue;
        }
      }

      // The background mask
      + .ce-checkbox__center {
        border: 1px solid @checked-blue;
      }
    }
  }

  &.ce-checkbox--disabled {
    pointer-events: none;

    input {
      + label {
        // Unchecked
        // The background mask
        + .ce-checkbox__center {
          border: 1px solid @unchecked-disabled-gray;
        }
      }

      &:checked + label {
        // Checked
        // The background
        &::before {
          background-color: @checked-disabled-gray;
        }

        // The dot
        &::after {
          background-color: @checked-disabled-gray;
        }
      }

      // The background mask
      + .ce-checkbox__center {
        border: 1px solid @checked-blue;
      }
    }
  }

  &.ce-checkbox--error {
    input {
      + label {
        color: @error-text;

        // Unchecked
        // The background mask
        + .ce-checkbox__center {
          border: 1px solid @checked-red;
        }
      }

      &:checked + label {
        // Checked
        // The dot
        &::after {
          background-color: @checked-red;
        }

        // Hover
        &:hover {
          // The background
          &::before {
            background-color: @hover-red;
            border: 0;
          }
        }

        // Active
        &:active {
          // The background
          &::before {
            background-color: @active-red;
            border: 0;
          }
        }

        // Focus
        &:focus {
          // The background
          &::before {
            background-color: @focus-red;
            border: 0;
          }
        }

      }

      // The background mask
      + .ce-checkbox__center {
        border: 1px solid @checked-red;
      }
    }

    .ce-checkbox--error__container {
      background-color: @white;
      padding: 0 2.75rem;

      .ce-checkbox--error__arrow {
        border-bottom: 0.5rem solid @error-box-background;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        margin-left: 25%;
        width: 0;
      }

      .ce-checkbox--error__message {
        background-color: @error-box-background;
        border-radius: 0.5rem;
        display: inline-block;
        padding: 2rem 5rem;

        .ce-checkbox--error__text {
          color: @white;
          font-size: @error-font-size;
        }
      }
    }
  }
}

.ce-checkbox + .ce-checkbox {
  margin-top: 0.4rem;
}
